body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  background-color: #151515;
  background-image: url(./assets/poster-background.webp);
  background-size: contain;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: #c2c2c2;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.8);
}

.container > .margin-zero {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0;
}

.button-base {
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  width: 14rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.form-base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error-message {
  color: #f44336;
  font-weight: 500;
}

.success-message {
  color: #66bb6a;
  font-weight: 500;
}