.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: #c2c2c2;
  gap: 0.5rem;
  font-family: "Ubuntu", sans-serif;
}

.footer > p {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.footer > a {
  color: black;
  transition: transform 0.3s ease-in-out;
}

.footer > a > i {
  font-size: 2rem;
}

.footer > a:hover {
  transform: scale(1.2);
}
