.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.profileInfo {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileInfo > h3 {
  margin: 0;
  margin: 0;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.profileElement {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  max-width: 30rem;
  flex-wrap: wrap;
}

.profileElement > h4 {
  font-weight: 400;
  margin: 0;
}

.profileElement > .categoryName {
  font-weight: 500;
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.userContent > h3 {
  margin: 0;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .pageContainer {
    max-width: 90%;
  }

  .profileElement {
    gap: 1rem;
  }
}
